
.button-style {
    font-size: 1.5rem;
    background-color: black;
    color: white;
    font-family: 'DM Serif Text', serif;
}

.text {
    font-size: 3.5rem;
    display: inline;
    /*font-family: 'DM Serif Text', serif;*/

}


.heading {
    font-size: 5rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;

}


body {
    background: #202020;
    color: white;
}  

button {
    width: 5rem;
    height: 2.5rem;
    border: 0.5px solid white;
    border-radius: 2rem;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}

.button-pad {
    display: inline;
    padding: 0 1rem 0 0;
}

#start-id:hover {
    background-color: rgb(81, 216, 63)   /*#39C16C   #20CC82*/;
    border-color: black;
}

#stop-id:hover {
    background-color: rgb(224, 42, 42)   /*#39C16C   #20CC82*/;
    border-color: black;
}

#reset-id:hover {
    background-color: rgb(62, 220, 231)   /*#39C16C   #20CC82*/;
    border-color: black;
}



@media only screen and (max-width: 375px) {
  

    .heading {
        font-size: 3.5rem;
    }
    .text {
        font-size: 3rem;
    }
    .button-style {
        font-size: 1rem;
    }
    button {
        width: 3.5rem;
        height: 1.7rem;
    }

  }